<form action="/saveTraining" method="POST">
    <h1>User registration form</h1>
    <p>
        <label for="name"></label>
        <input type="text" name="name" placeholder="Name" required autofocus></p>
    <p>
        <label for="code"></label>
        <input type="text" name="code" placeholder="Code" required >
    </p>
    <p>
        <label for="price"></label>
        <input type="number" name="price" placeholder="Price" required >
    </p>
    <p>
        <label for="days"></label>
        <input type="number" name="days" placeholder="Number of days" required >
    </p>
    <p><button type="submit">Save user</button></p>
     
</form>